@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Slab&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

:root {
  --cor-fundo: #f2f2f2;
  --cor-texto: #333333;
  --cor-destaque: #7f5af0;
  --cor-principal: #6c2c94;
  --cor-secundaria: #2f5a78;
  --cor-terciaria: #7b5ecf;
  --cor-destaque2: #45b2c9;
  --cor-fundo2: #1e1637;

  --font-title: 'Roboto','Open Sans', 'Helvetica Neue', 'sans-serif';
  --font-text: 'roboto monospace';
}

body {
  min-height: 100vh;
  background: var(--cor-fundo2);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--cor-principal);
  width: 600px;
  height: 500px;
  margin: auto;
}