@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Slab&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

:root {
  --cor-fundo: #f2f2f2;
  --cor-texto: #333333;
  --cor-destaque: #7f5af0;
  --cor-principal: #6c2c94;
  --cor-secundaria: #2f5a78;
  --cor-terciaria: #7b5ecf;
  --cor-destaque2: #45b2c9;
  --cor-fundo2: #1e1637;

  --font-title: 'Roboto Slab','Open Sans', 'Helvetica Neue', 'sans-serif';
  --font-text: 'Roboto Monospace','Open Sans', 'Helvetica Neue', 'sans-serif';
}

body {
  min-height: 100vh;
  background: var(--cor-fundo2);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--cor-principal);
  width: 50vw;
  height: 700px;
  margin: auto;
}

.title {
  text-align: center;
  margin-bottom: 10px;
  font-family: var(--font-title);
  font-size: 2.5rem;
}

.paragraph {
  font-family: var(--font-text);
  font-size: 1.25rem;
  list-style-type: square;
  margin-left: 10px;
}

.inputName {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
  margin: 10px;
}

.inputText {
  width: 400px;
  height: 35px;
  border-radius: 7px;
  margin: 7px;
}

.inputWork {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
  margin: 10px;
}

select {
  width: 400px;
  height: 35px;
  border-radius: 7px;
  margin: 7px;

}

.inputFeedback {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
  margin: 10px;
}

textarea {
  width: 400px;
  height: 100px;
  border-radius: 7px;
  margin: 7px;
}

.agree {
  display: flex;
  align-items: center;
  margin: 10px;
}

.agreement {
  font-family: var(--font-text);
  font-size: 0.8rem;
}

.send {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 120px;
  height: 40px;
  border-radius: 7px;
  margin: 15px;
  font-family: var(--font-text);
  font-size: 1.3rem;
  background-color: #a58eea;
  box-shadow: var(--cor-fundo2);
}

.button:hover {
  background-color: #937bdb;
}